.location__form {
    padding: 2em;
    text-align: center;
}  

.location__input {
    border-radius: 0.5rem 0 0 0.5rem;
}

.location__button {
    border-radius: 0 0.5rem 0.5rem 0;
    background-color: #71a821;
    color: white;
}