.location__container {
    display: flex;
    justify-content: center;
}

.resident__container {
    display: flex;
    gap: 2em;
    flex-wrap: wrap;
    justify-content: center;
    margin: 4em;
}

.banner {
    max-height: 10rem;
    width: 70%;
    margin: 0 auto;
    overflow: hidden;
}

.img__banner {
    margin-top: -25px;
    width: 100%;
}

input, button {
    font-size: 1.5rem;
}